p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

div.noted
{
     background-color: #f0f7fb;
     border-left: solid 4px #3498db;
     line-height: 18px;
     /*mc-auto-number-format: '{b}Note: {/b}';*/
     overflow: hidden;
     padding: 12px;
}

div.noted2
{
     background-color: #e6ffe6;
     border-left: solid 4px #00e600;
     line-height: 18px;
     /*mc-auto-number-format: '{b}Note: {/b}';*/
     overflow: hidden;
     padding: 12px;
}

div.noted3
{
     background-color: #FADBD8;
     border-left: solid 4px #943126;
     line-height: 18px;
     /*mc-auto-number-format: '{b}Note: {/b}';*/
     overflow: hidden;
     padding: 12px;
}